<header>
  <nav class="navbar">
    <div class="container">
      <a href="#" class="nav-logo">🌿 HappyMood</a>

      <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>

<ul class="nav-menu">
  <li><a href="index.html" data-page="hero" class="nav-link active">Home</a></li>
  <li><a href="resources.html" data-page="resources" class="nav-link">Resource Hub</a></li>
  <li><a href="community.html"data-page="community"class="nav-link">Community</a></li>
  <li><a href="dashboard.html" data-page="dashboard" class="nav-link">Progress Dashboard</a></li>
  <li><a href="booking.html" data-page="booking" class="nav-link">Confidential Booking</a></li>
  <li><a href="journal.html" data-page="journal" class="nav-link">Journal</a></li>
  <li><a href="meditation.html" data-page="mediation" class="nav-link">PHQ-9 Test</a></li>
  <li><a href="login.html" data-page="login" class="nav-link">Login</a></li>
  <li><a href="signup.html" data-page="signup" class="signup-btn">Sign Up</a></li>
</ul>


    </div>
  </nav>
</header>

