<section class="hero">
  <div class="container hero-content">
    <h1>
      <span class="green-text">Welcome to</span>
      <span class="blue-text">HappyMood</span>
      <span>🌿</span>
    </h1>
    <p>
      A calming digital space for students to recharge, reflect, and grow —
      stigma-free and full of positivity.
    </p>
    <div class="hero-buttons">
      <button id="start-journey-btn" class="btn" data-page="features">Start Your Journey ✨</button>
    </div>
  </div>
  <div class="slider">
    <div class="slides">
      <div class="slide">
        <img src="../images/moodtracker.avif" alt="slide1">
        <p>"Track your mood with Mood Tracker! Express How you are feeling"</p>
      </div>
      <div class="slide">
        <img src="../images/ai-chatbot.png" alt="slide2">
        <p>"It's okay to not be okay, as long as you are not giving up. Talk to our AI ChatBot Now for Support"</p>
      </div>
      <div class="slide">
        <img src="../images/phq.png" alt="slide3">
        <p>"Self-care is how you take your power back. Take PHQ-9 Test to analyse yourself. "</p>
      </div>
      <div class="slide">
        <img src="../images/resource.jpg" alt="slide4">
        <p>"Healing takes time, and asking for help is a courageous step. Go to Resource Hub to find Solutions to your problem"</p>
      </div>
    </div>
  </div>
</section>
